{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	{# {{dump()}} #}
	<style></style>
	<section class="homepage">
		<div class="hero_homepage">
			<video autoplay muted loop>
				<source id="src_mp4" src="{{ asset('video/rolex.mp4') }}" type="video/mp4">
			</video>
			<div class="container_brand_materiaux">
				<h1 class="title_brand">Rolex</h1>
				<h2 class="title_materiaux">Titane. Si robuste. Si léger.</h2>
				<div class="link_buy">
					<span class="span_link_buy">En savoir plus ></span>
					<span class="span_link_buy">Acheter ></span>
				</div>
			</div>
		</div>

		<div class="categorie">
			<div class="card_category">
				<div class="content_category">
					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
			<div class="card_category">
				<div class="content_category">

					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
			<div class="card_category">
				<div class="content_category">
					<h3 class="h3_content_category">Mixed Metals</h3>
					<span class="span_content_category">En savoir plus ></span>
				</div>
			</div>
		</div>

		<div class="product_container">
			<h1 class="h1_product_container">Last Collection</h1>
			<div class="card_product">
				<img class="img_card_product" src="{{ asset('img/montre.svg') }}" alt="">

				<div class="content_product">
					<h2>Omega</h2>
					<span>Tout pour vous plaire.Même le prix.</span>
					<h4 class="h4_content_product">À partir de 27009€</h4>
					<button class="button">Acheter</button>
					<span class="span_content_product">En savoir plus ></span>

				</div>
			</div>
		</div>

	</section>
{% endblock %}
