{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	{# {{dump()}} #}
	<style></style>
	<section class="homepage-hero">
		<div class="last-article">
			<video autoplay muted loop>
				<source id="src_mp4" src="{{ asset('video/rolex.mp4') }}" type="video/mp4">
			</video>
			<div class="title_span">
				<h1 class="title_brand">Rolex</h1>
				<h2 class="title_material">Titane. Si robuste. Si léger.</h2>
				<div class="link_buy">
					<span>En savoir plus ></span>
					<span>Acheter ></span>
				</div>
			</div>
		</div>

		<div class="categorie">
			<div class="card_category">
				<h3 class="title">Mixed Metals</h3>
				<span>En savoir plus ></span>
			</div>
		</div>

	</section>
{% endblock %}
