{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	{# {{dump()}} #}
	<style></style>
	<section class="homepage">
		<div class="hero_homepage">
			<video autoplay muted loop>
				<source id="src_mp4" src="{{ asset('video/rolex.mp4') }}" type="video/mp4">
			</video>
			<div class="container_brand_materiaux">
				<h1 class="title_brand">Rolex</h1>
				<h2 class="title_materiaux">Titane. Si robuste. Si léger.</h2>
				<div class="link_buy">
					<span class="span_link_buy">En savoir plus ></span>
					<span>Acheter ></span>
				</div>
			</div>
		</div>

		<div class="categorie">
			<div class="card_category">
				<h3 class="h3_category">Mixed Metals</h3>
				<span class="span_">En savoir plus ></span>
			</div>
			<div class="card_category">
				<h3 class="h3_category">Mixed Metals</h3>
				<span>En savoir plus ></span>
			</div>
			<div class="card_category">
				<h3 class="h3_category">Mixed Metals</h3>
				<span>En savoir plus ></span>
			</div>
		</div>

	</section>
{% endblock %}
