* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header {
  height: 70px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 430px) {
  body header {
    height: 85px;
  }
}
body header .logo {
  display: flex;
  align-items: center;
}
body header .logo .clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body header .logo .clock-container .clock {
  position: relative;
  width: 65px;
  height: 65px;
}
@media screen and (min-width: 430px) {
  body header .logo .clock-container .clock {
    width: 75px;
    height: 75px;
  }
}
body header .logo .clock-container .clock img {
  width: 100%;
  border: 3px solid black;
  border-radius: 99px;
  background-color: black;
}
body header .logo .clock-container .aiguilles {
  background-color: #ffda44;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}
body header .logo .clock-container .aiguilles.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
body header .logo .clock-container .aiguilles.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 25px;
}
body header .logo .clock-container .aiguilles.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 25px;
  background-color: #e74c3c;
}
body header .logo .clock-container .center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body header .logo .h1_logo {
  font-size: 1rem;
  color: #1d1d1f;
}
@media screen and (min-width: 430px) {
  body header .logo .h1_logo {
    font-size: 1.2rem;
  }
}
body header .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto 10px;
}
body header .icon img {
  cursor: pointer;
}
body header .burger-icon {
  width: auto;
  margin: auto 10px;
}
body header .burger-icon .burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}
@media screen and (min-width: 430px) {
  body header .burger-icon .burger {
    width: 40px;
    height: 30px;
  }
}
body header .burger-icon .burger input {
  display: none;
}
body header .burger-icon .burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 430px) {
  body header .burger-icon .burger span {
    height: 4px;
  }
}
body header .burger-icon .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
body header .burger-icon .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
body header .burger-icon .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}
body header .burger-icon .burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}
body header .burger-icon .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
body header .burger-icon .burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}
body .homepage {
  width: 100%;
  height: auto;
}
body .homepage .hero_homepage {
  width: 100%;
  background: url("../video/rolex.mp4") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 780px) {
  body .homepage .hero_homepage {
    height: 30vw;
  }
}
body .homepage .hero_homepage video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .homepage .hero_homepage video .src_mp4 {
  width: 100%;
  height: 100%;
}
body .homepage .hero_homepage .container_brand_materiaux {
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 460px) {
  body .homepage .hero_homepage .container_brand_materiaux {
    top: 30px;
  }
}
body .homepage .hero_homepage .container_brand_materiaux .title_brand {
  color: #ffffff;
  font-size: 2.4rem;
}
body .homepage .hero_homepage .container_brand_materiaux .title_brand,
body .homepage .hero_homepage .container_brand_materiaux .title_materiaux {
  color: #ffffff;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
body .homepage .hero_homepage .container_brand_materiaux .link_buy {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  gap: 10px;
  color: #2997ff;
  border-radius: 99px;
}
body .homepage .hero_homepage .container_brand_materiaux .link_buy .span_link_buy {
  font-size: 1rem;
  cursor: pointer;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
body .homepage .hero_homepage .container_brand_materiaux .title_materiaux {
  font-size: 1.1rem;
}
body .homepage .categorie {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
  margin: 20px auto;
}
@media screen and (min-width: 780px) {
  body .homepage .categorie {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1220px;
  }
}
body .homepage .categorie .card_category {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-image: url("../img/mixed_metals.svg");
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 780px) {
  body .homepage .categorie .card_category {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 980px) {
  body .homepage .categorie .card_category {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 1080px) {
  body .homepage .categorie .card_category {
    width: 380px;
    height: 380px;
  }
}
@media screen and (min-width: 1080px) {
  body .homepage .categorie .card_category {
    width: 480px;
    height: 480px;
  }
}
body .homepage .categorie .card_category .content_category {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
body .homepage .categorie .card_category .content_category .h3_content_category,
body .homepage .categorie .card_category .content_category .span_category {
  font: size 1.1rem;
  bottom: 2px;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
body .homepage .categorie .card_category .content_category .h3_content_category {
  color: #fff;
}
body .homepage .categorie .card_category .content_category .span_content_category {
  font-size: 1rem;
  color: #2997ff;
}
body .homepage .product_container_last_collection {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1500px) {
  body .homepage .product_container_last_collection {
    max-width: 1640px;
  }
}
body .homepage .product_container_last_collection .h1_product_container {
  font-size: 1.3rem;
  margin: 20px 20px;
}
body .homepage .product_container_last_collection .product_container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}
@media screen and (min-width: 780px) {
  body .homepage .product_container_last_collection .product_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body .homepage .product_container_last_collection .product_container .card_product {
  width: 300px;
  text-align: center;
}
@media screen and (min-width: 780px) {
  body .homepage .product_container_last_collection .product_container .card_product {
    width: 280px;
  }
}
@media screen and (min-width: 1080px) {
  body .homepage .product_container_last_collection .product_container .card_product {
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  body .homepage .product_container_last_collection .product_container .card_product {
    width: 370px;
  }
}
body .homepage .product_container_last_collection .product_container .card_product .img_card_product {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1280px) {
  body .homepage .product_container_last_collection .product_container .card_product .img_card_product {
    width: 100%;
  }
}
body .homepage .product_container_last_collection .product_container .card_product .content_product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .h2_title_product {
  font-weight: 700;
  font-size: 1.1rem;
  color: #1d1d1f;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .button_product {
  width: 65.23px;
  height: 24px;
  left: 120.05px;
  top: 161.39px;
  background: #0071e3;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 980px;
  border: none;
  cursor: pointer;
  transition: 0.6s ease-in;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .button_product:hover {
  box-shadow: none;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .button_product span {
  height: 14px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.12px;
  color: #ffffff;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .h4_content_product {
  color: #1d1d1f;
  font-size: 1rem;
  font-weight: 400;
}
body .homepage .product_container_last_collection .product_container .card_product .content_product .span_link_content_product {
  color: #0071e3;
  font-size: 1.05em;
  font-weight: 300;
}
body .social_container {
  background-color: #c0c0c0;
}
body .social_container .share_contenaire {
  width: 100%;
  /* for all social containers*/
  /* instagram*/
  /* twitter*/
  /* linkdin*/
  /* Whatsapp*/
}
@media screen and (min-width: 780px) {
  body .social_container .share_contenaire {
    display: flex;
    align-items: center;
  }
}
body .social_container .share_contenaire .span_social {
  font-size: 1.1rem;
  padding: 5px;
  font-weight: 700;
  color: #1d1d1f;
}
body .social_container .share_contenaire .card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
body .social_container .share_contenaire .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
body .social_container .share_contenaire .socialSvg {
  width: 17px;
}
body .social_container .share_contenaire .socialSvg path {
  fill: rgb(255, 255, 255);
}
body .social_container .share_contenaire .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body .detail_product {
  width: 100%;
}
body .detail_product > .container_title {
  margin: 20px 10px;
}
body .detail_product > .container_title > .h1_title_container {
  color: #1d1d1f;
  font-size: 2.688;
  font-weight: 800;
}
body .detail_product > .container_title > .h4_prix_container {
  font-size: 0.938rem;
  font-weight: 300;
  text-align: right;
  color: #1d1d1f;
}
body .detail_product > .container_title > .promotion_title {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  background-color: #f5f5f7;
  border-radius: 18px;
}
body .detail_product > .container_title > .promotion_title > .span_promotion_title {
  font-size: 0.75rem;
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (max-width: 343px) {
  body .detail_product > .container_title > .promotion_title > .span_promotion_title {
    white-space: inherit;
    color: #0071e3;
  }
}
body .detail_product > .promotion_title {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  background-color: #f5f5f7;
  border-radius: 18px;
}
body .detail_product > .promotion_title > .span_promotion_title {
  font-size: 0.75rem;
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (max-width: 343px) {
  body .detail_product > .promotion_title > .span_promotion_title {
    white-space: inherit;
  }
}
body .detail_product > .container_product {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px auto;
}
@media screen and (min-width: 780px) {
  body .detail_product > .container_product {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}
body .detail_product > .container_product > .pictur_product {
  width: 100%;
  height: 335px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 780px) {
  body .detail_product > .container_product > .pictur_product {
    width: 644px;
    height: 450px;
  }
}
@media screen and (min-width: 880px) {
  body .detail_product > .container_product > .pictur_product {
    width: 684px;
    height: 480px;
  }
}
@media screen and (min-width: 1080px) {
  body .detail_product > .container_product > .pictur_product {
    width: 844px;
    height: 550px;
  }
}
body .detail_product > .container_product > .pictur_product > .img_card_product {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
@media screen and (min-width: 780px) {
  body .detail_product > .container_product > .pictur_product > .img_card_product {
    border-radius: 12px;
  }
}
@media screen and (min-width: 780px) {
  body .detail_product > .container_product > .model_content_product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
body .detail_product > .container_product > .model_content_product > .h6_model {
  font-size: 1.371rem;
  font-weight: 700;
}
@media screen and (min-width: 780px) {
  body .detail_product > .container_product > .model_content_product > .h6_model {
    text-align: left;
  }
}
body .detail_product > .container_product > .model_content_product > .model_product {
  width: 290px;
  border: 1px solid #1d1d1f;
  border-radius: 12px;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 10px;
  row-gap: 10px;
}
body .detail_product > .container_product > .model_content_product > .model_product > .container_h1_h3_model {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .detail_product > .container_product > .model_content_product > .model_product > .container_h1_h3_model > .h1_model {
  font-size: 1.063rem;
  color: #1d1d1f;
  font-weight: 700;
}
body .detail_product > .container_product > .model_content_product > .model_product > .container_h1_h3_model > .h3_model {
  font-size: 0.75rem;
  color: #1d1d1f;
}
body .detail_product > .container_product > .model_content_product > .model_product .prix_model > .h4_prix {
  font-size: 0.75rem;
}
body .detail_product > .container_product > .model_content_product > .description_model {
  width: 290px;
  background-color: #f5f5f7;
  padding: 10px;
  border-radius: 15px;
  margin: 30px auto;
}
body .detail_product > .container_product > .model_content_product > .description_model > .span_description {
  font-weight: 600;
  font-size: 1.313rem;
}
body .detail_product > .container_product > .model_content_product > .description_model > .p_description {
  font-weight: 300;
  font-size: 0.75rem;
  margin: 10px auto;
}
body .detail_product > .container_product > .model_content_product > .btn_container_product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .detail_product > .container_product > .model_content_product > .btn_container_product > .btn_add_panier_product {
  /* Rectangle 11 */
  padding: 10px;
  background: #0071e3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0px;
  color: #fff;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
body .catalogue {
  width: 100%;
}
body .catalogue > .h3_catalogue {
  font-size: 1.66rem;
  color: #1d1d1f;
  text-align: center;
  padding: 20px;
}
@media screen and (min-width: 780px) {
  body .catalogue > .h3_catalogue {
    font-size: 2.66rem;
  }
}
body .catalogue > .container_catalogue {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
}
body .catalogue > .container_catalogue > .card_product {
  text-align: center;
}
body .catalogue > .container_catalogue > .card_product > .img_card_product {
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1280px) {
  body .catalogue > .container_catalogue > .card_product > .img_card_product {
    width: 100%;
  }
}
body .catalogue > .container_catalogue > .card_product > .content_product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .catalogue > .container_catalogue > .card_product > .content_product > .h2_title_product {
  font-weight: 700;
  font-size: 1.1rem;
  color: #1d1d1f;
}
body .catalogue > .container_catalogue > .card_product > .content_product .button_product {
  width: 65.23px;
  height: 24px;
  left: 120.05px;
  top: 161.39px;
  background: #0071e3;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 980px;
  border: none;
  cursor: pointer;
  transition: 0.6s ease-in;
}
body .catalogue > .container_catalogue > .card_product > .content_product .button_product:hover {
  box-shadow: none;
}
body .catalogue > .container_catalogue > .card_product > .content_product .button_product > span {
  height: 14px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.12px;
  color: #ffffff;
}
body .catalogue > .container_catalogue > .card_product > .content_product > .h4_content_product {
  color: #1d1d1f;
  font-size: 1rem;
  font-weight: 400;
}
body .catalogue > .container_catalogue > .card_product > .content_product > .span_link_content_product {
  color: #0071e3;
  font-size: 1.05em;
  font-weight: 300;
}
body .form-container {
  width: 350px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: auto;
}
body .form-container .title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}
body .form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}
body .form-container .input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}
body .form-container .page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}
body .form-container .page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}
body .form-container .page-link-label:hover {
  color: #000;
}
body .form-container .form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .form-container .form-btn:active {
  box-shadow: none;
}
body .form-container .sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body .form-container .sign-up-label .sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
}
body .buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}
body .buttons-container .apple-login-button {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}
body .buttons-container .google-login-button {
  border: 2px solid #747474;
}
body .buttons-container .apple-icon,
body .buttons-container .google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}
body footer {
  width: 100%;
  margin: 20px auto;
}
@media screen and (min-width: 780px) {
  body footer {
    display: flex;
    justify-content: space-around;
  }
}
body footer .logo {
  display: flex;
  align-items: center;
}
body footer .logo .clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body footer .logo .clock-container .clock {
  position: relative;
  width: 65px;
  height: 65px;
}
@media screen and (min-width: 430px) {
  body footer .logo .clock-container .clock {
    width: 75px;
    height: 75px;
  }
}
body footer .logo .clock-container .clock img {
  width: 100%;
  border: 3px solid black;
  border-radius: 99px;
  background-color: black;
}
body footer .logo .clock-container .aiguilles {
  background-color: #ffda44;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}
body footer .logo .clock-container .aiguilles.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
body footer .logo .clock-container .aiguilles.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 25px;
}
body footer .logo .clock-container .aiguilles.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 25px;
  background-color: #e74c3c;
}
body footer .logo .clock-container .center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body footer .logo h1 {
  font-size: 1rem;
}
@media screen and (min-width: 430px) {
  body footer .logo h1 {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */