<footer>
	<div class="logo">
		<div class="clock-container">
			<div class="clock">
				<img src="../img/cadrant.png" alt="" class="logo">
				<div class="aiguilles hour"></div>
				<div class="aiguilles minute"></div>
				<div class="aiguilles second"></div>
				<div class="center-point"></div>
			</div>
		</div>
		<h1>WatchBay</h1>
	</div>
	<div class="content_footer">
		<div class="information_footer">
			<ul>
				<li class="li_title">S'informer et acheter</li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="account_footer">
		<ul>
			<li class="li_title">Compte</li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="value_footer">
		<ul>
			<li class="li_title">Valeurs WatchBay</li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</footer>
