{% block header %}
	<header>
		<a href="{{ path('app_page') }}">
			<div class="logo">
				<div class="clock-container">
					<div class="clock">
						<img src="../img/cadrant.png" alt="" class="logo">
						<div class="aiguilles hour"></div>
						<div class="aiguilles minute"></div>
						<div class="aiguilles second"></div>
						<div class="center-point"></div>
					</div>
				</div>
				<h1 class="h1_logo">WatchBay</h1>
			</div>
		</a>

		<div class="icon">
			<img src="../img/icons/search.svg" alt="search">
			<a href="{{ path('app_login') }}"><img src="../img/icons/user.svg" alt="login"></a>
			<img src="../img/icons/panier.svg" alt="panier">
			<div class="burger-icon">
				<label for="burger" class="burger">
					<input id="burger" type="checkbox">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
		</div>
	</div>

	{# <div class="modal">
																								<ul>
																									<li>Home</li>
																									<li>Catalogue</li>
																									<li>sign in</li>
																									<li></li>
																								</ul>
																							</div> #}
</header>{% endblock %}
