{% block header %}
	<header>
		<div class="logo">
			<div class="clock-container">
				<div class="clock">
					<img src="../img/cadrant.png" alt="" class="logo">
					<div class="aiguilles hour"></div>
					<div class="aiguilles minute"></div>
					<div class="aiguilles second"></div>
					<div class="center-point"></div>
				</div>
			</div>
			<h1>WatchBay</h1>
		</div>
		<div class="icon">
			<img src="../img/icons/search.svg" alt="search">
			<img src="../img/icons/user.svg" alt="search">
			<img src="../img/icons/panier.svg" alt="search">
			<div class="burger-icon">
				<label for="burger" class="burger">
					<input id="burger" type="checkbox">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
		</div>
	</div>

	{# <div class="modal">
					<ul>
						<li>Home</li>
						<li>Catalogue</li>
						<li>sign in</li>
						<li></li>
					</ul>
				</div> #}
</header>{% endblock %}
